.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: mediumslateblue;
}

a{
  text-decoration: none;
  padding: 0 25px;
  color: #ffcaab;
  font-size: 20px;
}
