<form [formGroup]="form">
  <div><label>Model: <input type="text" formControlName="model"></label></div>
  <div><label>Year: <input type="text" formControlName="year"></label></div>
  <div><label>Price: <input type="text" formControlName="price"></label></div>
  <button (click)="save()">{{!carForUpdate? 'save': 'update'}}</button>
</form>
<hr>

<div>
  <div *ngFor="let car of cars">
    <div>Id: {{car.id}}</div>
    <div>Model: {{car.model}}</div>
    <div>Year: {{car.year}}</div>
    <div>Price: {{car.price}}</div>
    <button (click)="update(car)">Update</button>
    <button (click)="delete(car.id)">Delete</button>
<hr>
  </div>
</div>
