.posts{
  border: 1px solid darkblue;
  border-radius: 10px;
  max-width: 456px;
  background: rgba(123, 193, 225, 0.75);
  margin-top: 5px;
  padding: 2px 2px;
}

.container{
  display: flex;
  justify-content: space-evenly;
}
